@import "../../variables.scss";

header {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  .info {
    text-align: center;
    .info-button {
      cursor: pointer;
      font-size: 18px;
      border: none;
      background: none;
    }
    .info-content {
      border: $borderColorWidth;
      font-size: 12px;
      border-radius: 5px;
      padding: 1rem;
      width: 50%;
      margin: auto;
      text-align: left;
      background-color: whitesmoke;
    }
  }
}

@media (max-width: 550px) {
  header {
    width: 90%;
    .info {
      .info-content {
        width: 90%;
      }
    }
  }
}
@media (max-width: 950px) {
  header {
    .info {
      .info-content {
        width: 80%;
      }
    }
  }
}
